<div class="row">

  <div class="col col-lg-3">
  <app-navbar-admin></app-navbar-admin>
  </div>
  <div class="col col-lg-9">
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>

<!-- Basic Bootstrap Table -->
<div class="card">
  <div class="row card-header">
    <div class="col">
      <h5 class="">Gestion des velos</h5>
      </div>
    <div class="col">
      <button class="btn btn-info" (click)="show()" style="float: right">New +</button>
          </div>
  </div>
  
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            
            <th>marque</th>
            <th>image</th>
            <th>prix</th>
            <th>description</th>
            <th>quantite</th>
            <th>Type velo</th>

            <th>Action</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let Velo of velos; let i = index">
            
            <td>{{Velo.marque}}</td>
            <td><img width="150" src={{Velo.image}} /></td>
            <td>{{Velo.prix}}</td>
            <td>{{Velo.description}}</td>
            <td>{{Velo.quantite}}</td>   
            <td>{{Velo.Type}}</td>     

            <td>
              <div class="row">
                <a class="dropdown-item" routerLink="/edit-velo/{{Velo._id}}"
                ><i class="bx bx-edit-alt me-1"></i></a>
                
                  <a class="dropdown-item" [routerLink]="" (click)="delete(Velo._id, i)"
                  ><i class="bx bx-trash me-1"></i></a></div>
          
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Basic Bootstrap Table -->
<br>
  <app-velo-form [hidden]="!showForm"></app-velo-form>


</div>