<body>
  <!-- Content -->
  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
        
            <h4 class="mb-2">Bienvenue à Roue Libre! 👋</h4>
            <p class="mb-4">Veuillez vous connecter à votre compte et commencer l'aventure</p>

            <form  class="mb-3"  [formGroup]="login">
              <div class="mb-3">
                <label for="email" class="form-label">Email </label>
                <input
                formControlName="email"
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Entrer votre email"
                  autofocus
                />
              </div>
              <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                  <label class="form-label" for="password">Mot de passe</label>
                  
                </div>
                <div class="input-group input-group-merge">
                  <input
                  formControlName="mdp"
                    type="password"
                    id="mdp"
                    class="form-control"
                    name="mdp"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password"
                  />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <a href="auth-forgot-password-basic.html" class="link-warning">mot de passe oublié?
                </a>
              </div>
              
              <div class="mb-3">
                <button (click)="loginSubmit(login.value)" [disabled]="login.invalid" class="btn btn-primary d-grid w-100"   >Login</button>
              </div>
            </form>

            <p class="text-center">
             
              <span>vous n'avez pas un compte?</span>
              <a routerLink="../registre"  href="registre.component.html" class="link-primary">Creér un nouveau compte</a>
             
            </p>
          </div>

        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>

  <!-- / Content -->

 

 
</body>