<app-navbar-client></app-navbar-client>
<main>

    <!-- Hero Area Start-->
    <div class="slider-area hero-overly">
        <div class="single-slider hero-overly  slider-height d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9">
                        <!-- Hero Caption -->
                        <div class="hero__caption">
                            <span>Roue Libre</span>
                            <h1>Discover Our bike collection </h1>
                        </div>
                        <!--Hero form -->
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Hero Area End-->
    <!-- Popular Locations Start -->
    <div class="popular-location section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>Discover our collection</span>
                        <h2>Nos vélos</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-location mb-30">
                        <div class="location-img">
                            <img src="./assets/img/gallery/velo.jpg" alt="">
                        </div>
                        <div class="location-details">
                            <p>Velo</p>
                            <a href="#" class="location-btn">65 <i class="ti-plus"></i> Location</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-location mb-30">
                        <div class="location-img">
                            <img src="./assets/img/gallery/velo.jpg" alt="">
                        </div>
                        <div class="location-details">
                            <p>Velo</p>
                            <a href="#" class="location-btn">65 <i class="ti-plus"></i> Location</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-location mb-30">
                        <div class="location-img">
                            <img src="./assets/img/gallery/velo.jpg" alt="">
                        </div>
                        <div class="location-details">
                            <p>Velo</p>
                            <a href="#" class="location-btn">65 <i class="ti-plus"></i> Location</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-location mb-30">
                        <div class="location-img">
                            <img src="./assets/img/gallery/velo.jpg" alt="">
                        </div>
                        <div class="location-details">
                            <p>Velo</p>
                            <a href="#" class="location-btn">65 <i class="ti-plus"></i> Location</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-location mb-30">
                        <div class="location-img">
                            <img src="./assets/img/gallery/velo.jpg" alt="">
                        </div>
                        <div class="location-details">
                            <p>Velo</p>
                            <a href="#" class="location-btn">65 <i class="ti-plus"></i> Location</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-location mb-30">
                        <div class="location-img">
                            <img src="./assets/img/gallery/velo.jpg" alt="">
                        </div>
                        <div class="location-details">
                            <p>Velo</p>
                            <a href="#" class="location-btn">65 <i class="ti-plus"></i> Location</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- More Btn -->
            <div class="row justify-content-center">
                <div class="room-btn pt-20">
                    <a href="catagori.html" class="btn view-btn1">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Locations End -->
    
    <!-- Categories Area Start -->
    <div class="categories-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>Check-out our tours</span>
                        <h2>Visite touristique</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-bed"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="catagori.html">Leving Hotel</a></h5>
                            <p>Must explain your how this keind denoun pleasure</p>
                            <a href="catagori.html">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-drink"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="catagori.html">Night Life</a></h5>
                            <p>Must explain your how this keind denoun pleasure</p>
                            <a href="catagori.html">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-home"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="catagori.html">Culture Place</a></h5>
                            <p>Must explain your how this keind denoun pleasure</p>
                            <a href="catagori.html">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-food"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="catagori.html">Resturent</a></h5>
                            <p>Must explain your how this keind denoun pleasure</p>
                            <a href="catagori.html">View Details</a>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <!-- Categories Area End -->
     <!-- peoples-visit Start -->
     <div class="peoples-visit dining-padding-top">
        <!-- Single Left img -->
        <div class="single-visit left-img">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-8">
                        <div class="visit-caption">
                            <span>We are offering for you</span>
                            <h3>Nos formations</h3>
                            <!--Single Visit categories -->
                            <div class="visit-categories mb-40">
                                <div class="visit-location">
                                    <span class="flaticon-travel"></span>
                                </div>
                                <div class="visit-cap">
                                    <h4>Cours 1</h4>
                                    <p>Unlike what its name implies, dry cleaning is not actu  process. Clothes soaked differentent.
                                    </p>
                                </div>
                            </div>
                            <!--Single Visit categories -->
                            <div class="visit-categories">
                                <div class="visit-location">
                                    <span class="flaticon-work"></span>
                                </div>
                                <div class="visit-cap">
                                    <h4>Cours 2</h4>
                                    <p>Unlike what its name implies, dry cleaning is not actu  process. Clothes soaked differentent.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- peoples-visit End -->

   
    <!-- Blog Ara Start -->
    <div class="home-blog-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>Nos parades</span>
                        <h2>Nos parades</h2>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" *ngFor="let parade of parades; let i = index">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="./assets/img/gallery/home_blog2.png" alt="">
                        </div>
                        <div class="team-caption">
                            <span>{{parade.Lieu}}</span>
                            <h3><a href="blog.html">{{parade.Description}}</a></h3>
                            <p>{{parade.DateDeb}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Ara End -->

</main>
<app-homepage-footer></app-homepage-footer>